[user]
	name = kovan
        email = you@example.com

[alias]
        graph = log --graph --oneline --all --simplify-by-decoration
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictStyle = diff3
[mergetool]
	prompt = false
[pull]
	rebase = false
[branch]
        sort = -authordate
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
[credential]
	helper = \\!gh auth git-credential
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
